@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;

}

h1,
h2,
h3,
h4 {
  font-family: 'Rubik', sans-serif;
}

 /* unvisited link */
 a:link {
  color: lightgreen;
}

/* visited link */
a:visited {
  color: lightseagreen;
}

/* mouse over link */
a:hover {
  color: #c8102e;
}

/* selected link */
a:active {
  color: blue;
} 

.header {
  background: linear-gradient(#00000044, #111111bb), url(selfie2blackoffset.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
  padding: 10% 6%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.6rem;
  color: #fff;
}



.header h1 {
  font-size: 100px;
}

.header .subtitle {
  font-size: 60px;
  font-weight: 300;
  color: #aaa;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.social {
  display: flex;
  gap: 1rem;
  padding: 2rem 0rem;
}

.social .social-link {
  width: 50px;
  height: 50px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: #c8102e;
  background-color: #f1f1f1;
  cursor: pointer;
  transition: all 1s;
}

.social .social-link:hover {

  color: #000;
  background-color: #fff;
  border-radius: 50%;
}

section {
  width: 100%;
  max-width: 100%;
  min-height: 100px;
}

section .heading .title {
  font-size: 40px;
  font-weight: 400;
  color: #aaa;
  text-transform: uppercase;
  letter-spacing: 5px;
}

section .heading .subtitle {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  color: #343f4f;
  letter-spacing: -1px;
  padding-top: 5px;
  padding-left: 0rem;
}

section .heading .subtitle::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width:50%;
  height: 3px;
  background-color: #333;
}


section .container {
  padding: 2rem 6%;
}

.about .items {
  padding: 2rem 0rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.about .items .item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.about .items .item .content p {
  font-size: 18 px;
  line-height: 25px;
  padding: 0.5rem 0rem;
  text-indent: 50px;
}

.about .items .item .content img {
  height: 70px;
  width: fit-content;
  object-fit:fill;
  max-width: 280px;
  margin: 2rem 0.5rem;

}

.about .items .item .image {
  position: relative;
  width: 100%;
  max-height: 450px;
  overflow: hidden;
}

.about .items .item .image.image::after {
  content: '';
  position: absolute;
  top: -1rem;
  left: -1rem;
  Width: 100%;
  height: 450px;
  background-color: #777;
  z-index: 0;
  width: calc(100% - 1rem);
}

.about .items .item .image img {
  position: relative;
  width: calc(100% - 2rem);
  margin: 1rem;
  height: fit-content;
  object-fit: cover;
  z-index: 1;
}

.factoids {
  background-color: #000;
}

.factoids .title,
.factoids .subtitle {
  color: #fff;
}

.factoids .items {
  padding: 2rem 0rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 4rem;
}

.factoids .items .item {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  height: 500px;
  cursor: pointer;
}

.factoids .items .item img {
  width: 200px;
  object-fit: cover;
}

.factoids .items .item::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 50%;
  width: 70%;
  height: 1px;
  background-color: #555;
  transform: translateX(-50%);
  transition: all 1s;
}

.factoids .items .item:hover::after {
  width: 100%;
}

.factoids .items .item h3 {
  font-size: 24px;
  font-weight: 300;
  line-height: 23px;
  padding: 0rem 0rem;
  color: #fff;
  text-align: center;
  width: fit-content;
  padding-top: 1.6rem;
}

.factoids .items .item p {
  font-size: 16px;
  line-height: 23px;
  padding: 1rem 0rem;
  color: #f1f1f1;
  text-align: center;
}

.photos .items {
  padding: 2rem 0rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, minmax(50px, 1fr));
  gap: 4px;
}

.photos .items .item {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
}

.photos .items .item:nth-child(1) {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  grid-column: span 3;
}

.photos .items .item:nth-child(2) {
  grid-column: span 2;
  grid-row: span 1;
}

.photos .items .item:nth-child(3) {
  grid-column: span 2;
  grid-row: span 1;
}

.photos .items .item:nth-child(4) {
  grid-column: span 3;
  grid-row: span 1;
}

.photos .items .item:nth-child(5) {
  grid-column: span 3;
  grid-row: span 1;
}

.photos .items .item:nth-child(6) {
  grid-column: span 2;
  grid-row: span 1;
}

.photos .items .item:nth-child(7) {
  grid-column: span 5;
  grid-row: span 1;
}

.photos .items .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s ease-out;
  cursor: pointer;
  opacity: 0.6;
}

.photos .items .item img:hover {
  transform: scale(1.2);
  opacity: 1;
}

.contact {
  background-color: #000;
}


.contact .items {
  padding: 2rem 0rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.contact .items .item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.contact .items .item .image {
  position: relative;
  width: 100%;
  max-height: 450px;
  overflow: hidden;
}

.contact .items .item .image::after {
  content: '';
  position: absolute;
  top: -1rem;
  left: -1rem;
  Width: 100%;
  height: 450px;
  background-color: #777;
  z-index: 0;
  width: calc(100% - 1rem);
}

.contact .items .item .image img {
  position: relative;
  width: calc(100% - 2rem);
  margin: 1rem;
  height: fit-content;
  object-fit: cover;
  z-index: 1;
}

.contact .form {
  width: 100%;
  padding: 2 rem;
  padding-bottom: 0rem;
}

.contact .form form {

  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact .form form .input {
  padding: 0.6rem 0.25rem;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #777;
  text-transform: capitalize;
}

.contact .form form .area {
  border-bottom: 1px solid #777;
  padding: 0.6rem 0.25rem;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #777;
  text-transform: capitalize;
}

.contact .form form .btn-contact {
  border-bottom: 1px solid #777;
  padding: 0.6rem 0.25rem;
  font-size: 16px;
  background-color: #eee;
  color: #111;
  border: none;
  outline: none;
  text-transform: capitalize;
  cursor: pointer;
}

.contact .form form .btn-contact:hover {
  background-color: rgb(255, 255, 255);
  color: #000;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  list-style: none;
  padding: 2rem 0rem;
  justify-content: center;
  width: 100%;
}

.contact li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 14px;
  font-weight: 300;
  color: #eee;
  cursor: pointer;
}

.contact li i {
  font-size: 22px;
}

.contact li:hover {
  color: #fff;
  font-weight: 500;
}

footer {
  background-color: #eee;
  border-top: 4px solid #fff;
  border-bottom: 2rem solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 9%;
}

footer .rights {
  font-size: 14px;
  color: #111;
}

footer .social {
  font-size: 14px;
  color: #111;
}

footer .social .s-link {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #111;
}

footer .social .s-link:hover {
  color: #fff;
  background-color: #111;
  border-radius: 50%;
}

.landacknowledgement {
  background-color: #011c94;
}

.landacknowledgement .title,
.landacknowledgement .subtitle {
  color: #fff;
}

.landacknowledgement .items {
  padding: 2rem 0rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 4rem;
}

.landacknowledgement .items .item {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  height: 500px;
  cursor: pointer;
}

.landacknowledgement .items .item img {
  width: 200px;
  object-fit: cover;
}
.landacknowledgement .items .item:hover::after {
  width: 100%;
}

.landacknowledgement .items .item h3 {
  font-size: 24px;
  font-weight: 300;
  line-height: 23px;
  padding: 0rem 0rem;
  color: #fff;
  text-align: center;
  width: fit-content;
  padding-top: 1.6rem;
}

.landacknowledgement .items .item p {
  font-size: 16px;
  line-height: 23px;
  padding: 1rem 0rem;
  color: #f1f1f1;
  text-align: center;
}

/* BACK TO TOP */

html {
	scroll-behavior: smooth;
}

.back-to-top {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: darkgray;
	border-radius: 0.5rem;
	padding: 0.5rem;
	text-decoration: none;
	transition: 0.2s ease-out;
}

.back-to-top span {
	color: white;
	font-size: 3rem;
	transition: 0.2s ease-out;
}

.back-to-top:hover {
	background-color: grey;
}
.back-to-top:hover span {
	transform: translateY(-4px);
}

@media (max-width:640px) {

  .header h1 {
    font-size: 45px;
    font-weight: 600;
  }
  
  .header .subtitle {
    font-size: 20px;
    font-weight: 300;
    color: #aaa;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  .about .items {
    padding: 2rem 0rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }

  .factoids .items {
    padding: 2rem 0rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 4rem;
  }

  section .heading .title {
    font-size: 25px;
    font-weight: 400;
    color: #aaa;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  section .heading .subtitle {
    position: relative;
    font-size: 15px;
    font-weight: 500;
    color: #343f4f;
    letter-spacing: -1px;
    padding-top: 5px;
    padding-left: 0rem;
  }

  .factoids .items .item p {
    font-size: 15px;
    line-height: 23px;
    padding: 1rem 0rem;
    color: #f1f1f1;
    text-align: center;
    word-wrap: break-word;
  }

  .landacknowledgement .items {
    padding: 2rem 0rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 4rem;
  }

  .landacknowledgement .items .item p {
    font-size: 12px;
    line-height: 15px;
    padding: 1rem 0rem;
    color: #f1f1f1;
    text-align: center;
    word-wrap: break-word;
  }
}